<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wenslo.forger.shiro.example.module.auth.mapper.UserMapper">
    <select id="loadByUsername" resultType="com.github.wenslo.forger.shiro.example.module.auth.entity.User">
        select * from auth_user where username = #{username}
    </select>
</mapper>